#include "/home/benj/.colors/base16-default"

Xft.dpi: 160

! URxvt config
URxvt.scrollstyle: plain
URxvt.font: xft:CamingoCode:size=10
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 20
