#include "/home/benj/.colors/base16-railscasts.dark.256.xresources"

Xft.dpi: 160

! URxvt config
URxvt.scrollstyle: plain
URxvt.font: xft:CamingoCode:size=10
URxvt*.transparent: true
URxvt*.shading: 10
